


/* .App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);`
    color: white;
} */

.Navbar {
    display: flex;
    flex-direction: row;
    height: 200px;
}

nav {
    display: flex;
    flex-direction: row;
    height: 10rem;
}

/* div {
    border: 1px solid red;
} */

.custom-container-nav {
    width: 50rem
}

@font-face {
    font-family: 'Rammetto';
    src: url('/public/fonts/Rammetto_One/RammettoOne-regular.ttf');
}

.nav-bar-font {
    color: white;
    font-size: 3rem;
    font-family: Rammetto
}

.app-name {
    text-align: left;
    font-size: 4rem;
}

.tag-line {
    text-align: right;
    font-size: 1.5rem;
}

.main-section{
    display: flex;
    flex-direction: row;
}
