section {
    display: flex;
    flex-direction: row;
}

.line-graph {
    width: 600px;
}

.contract-chart {
    width: 30rem;
}
.doughnut-chart-sectiton {
    display: flex;
    flex-direction: column;
     width: 30rem;
}

.outer {
    display: flex;
    align-items: center;
    background-color: #00c0c31e;
    justify-content: center;
    height: 15em;
    width: 15em;
    border-radius: 50%;
    box-shadow: .5em .5em 1em .1em rgba(0,0,0,0.15);
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height:12.7em;
    width: 12.7em;
    border-radius: 50%;
    box-shadow: inset .4em .5em .8em .1em rgba(0,0,0,0.15);;
}

.number {
    color: black;
}

.circle {
    margin-top: -17.5em;

}

circle {
    fill: none;
    stroke: #00C1C3;
    stroke-width: 1.2em;
    stroke-dasharray: 687;
    animation: anim 2s linear forwards;
}

@keyframes anim {
    100%{
    }
}

rect {
    fill: #00C1C3;
    margin-top: 20rem;
}

.gantt-chart {
    overflow: auto;
    min-width: 40rem;
    width: 40rem;
    min-height: 36.5em;

}

.gantt-spacer {
    padding-left: 13.25em;
}

.months {
    min-height: 36em;
    display: flex;
}

.month {
   text-align: center;
   height: 36rem;
}

.gnatt-svg{
    margin-top: -30em;

}

.contract-name {
    width: 2409px;
}

.contract-name2 {
    width: 212px;
    max-width: 212px;
}

.y-axis {
    min-height: 36em;
    margin-top: 15.1em;
}

.bars {
    width: 1500px;
}
